* {
  box-sizing: border-box;
}
html {
  /* Quy đổi 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ===============Common============== */
a {
  text-decoration: none;
}
.main-content {
  max-width: calc(100% - 48px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
/* ===============Header============== */
.header {
  background: rgba(235, 162, 16, 0.888);
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .logo {
  max-width: 75px;
  color: green;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  display: inline-block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}
